asgiref==3.9.1
certifi==2025.8.3
cloudinary==1.44.1
dj-database-url==3.0.1
django==4.2.24
djangorestframework==3.16.1
psycopg2-binary==2.9.10
six==1.17.0
sqlparse==0.5.3
typing-extensions==4.15.0
urllib3==2.5.0
